<mat-toolbar>
  <span>{{ pageTitle$ | async }}</span>
  <mat-spinner
    [style.marginLeft.rem]="1"
    *ngIf="isLoading$ | async"
    [diameter]="25"
  ></mat-spinner>
  <span class="spacer"></span>
  <button
    mat-raised-button
    color="primary"
    [disabled]="(loadingStore.state.reloadTodo.$ | async) ?? false"
    (click)="reloadEvent$.next()"
  >
    <mat-icon *ngIf="(loadingStore.state.reloadTodo.$ | async) ?? false">
      <mat-spinner diameter="20"></mat-spinner>
    </mat-icon>
    Refresh
  </button>
</mat-toolbar>

<div [style.padding.rem]="1">
  <div fxFill fxLayout="row wrap" fxLayoutGap="10px">
    <div fxFlex.xs="100" fxFlex.gt-xs="75">
      <app-form-todo (submitEvent)="addEvent$.next($event)"></app-form-todo>

      <mat-spinner
        [style.margin]="'1rem auto'"
        [diameter]="80"
        *ngIf="
          (loadingStore.state.reloadTodo.$ | async) === true;
          else contentTpl
        "
      >
      </mat-spinner>

      <ng-template #contentTpl>
        <mat-card
          [style.marginTop.rem]="1"
          *ngIf="(todos$ | async)!.length > 0 ?? false"
        >
          <mat-card-header>
            <mat-card-title>
              <h2>Todos</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-spinner
              [style.margin]="'1rem auto'"
              [diameter]="80"
              *ngIf="isLoading$ | async"
            >
            </mat-spinner>
            <app-todo-list [todos]="(todos$ | async) || []" [todoTpl]="todoTpl">
            </app-todo-list>
            <ng-template #todoTpl let-todo>
              <app-todo-with-di
                [todo]="todo"
                (removeEvent)="removeEvent$.next($event)"
              >
              </app-todo-with-di>
            </ng-template>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </div>
    <div fxFlex fxLayout="column" fxLayoutGap="10px">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2>Events</h2>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <mat-list role="list">
            <mat-list-item role="listitem">
              Add: {{ loadingStore.state.addTodo.$ | async }}
            </mat-list-item>
            <mat-list-item role="listitem">
              Reload: {{ loadingStore.state.reloadTodo.$ | async }}
            </mat-list-item>
            <mat-list-item role="listitem">
              Remove: {{ loadingStore.state.removeTodo.$ | async }}
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h2>Logs</h2>
          </mat-card-title>
        </mat-card-header>
        <app-logs [logs]="(logs$ | async) || []"></app-logs>
      </mat-card>
    </div>
  </div>
</div>
